<%= form_with model: @blog_post do |form| %>

  <% if form.object.errors.any? %>
    <div id="error_explanation" class="error-messages">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this blog post from being saved:</h2>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :published_at %><br>
    <%= form.datetime_select :published_at, include_blank: :true %>
  </div>

  <p>
    <%= form.submit 'Submit', class: 'bg-gray-100 py-2 px-4 rounded hover:bg-gray-200' %>
  </p>
<% end %>
